/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*.even {background-color: rgba(194, 194, 194, 0.8);}*/

.piece_show_title p { font-size: 25px;}
.piece_show b {font-size: 15px;}

.show_table tr { width: 300px; border-bottom: 2px solid #A0A0A0;}
.show_table {width: 600px;}

.nice_table tr{
		background:-o-linear-gradient(bottom, #d8d8d8 5%, #afafaf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d8d8d8), color-stop(1, #afafaf) );
	background:-moz-linear-gradient( center top, #d8d8d8 5%, #afafaf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8d8d8", endColorstr="#afafaf");	background: -o-linear-gradient(top,#d8d8d8,afafaf);

	background-color:#d8d8d8;
	
}}